@import "vars";

.button {
  display: inline-block;
  margin: 0;
  padding: $paddings;
  border-radius: $round-border;
  cursor: pointer;
  transition: $trans-spd;
  text-align: center;
  min-width: $paddings * 4;

  &.circ {
    border-radius: $paddings * 2;
  }
}

@each $color, $value in $colors {
  .button.fill-#{$color} {border: 4px solid $value; background-color: $value; &.darken:hover {border: 4px solid darken($value, 2.5%); background-color: darken($value, 2.5%)}}
  .button.outline-#{$color} {border: 4px solid $value; color: $value; &.darken:hover {border: 4px solid darken($value, 2.5%); color: darken($value, 2.5%)} &.fill:hover {background-color: $value;}}
}
