// Spacing
$margins: 16px;
$paddings: 16px;

// Borders
$round-border: 4px;

//Colors
$shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
$colors: (
  "green": rgba(24, 208, 128),
  "blue": rgba(0, 148, 160),
  "gray": #ccc,
  "red": #f55,
  "white": #fff
);

// Text
$font-primary: sans-serif;

// Grid
$columns: 12;
$rows: 12;

// Animations
$trans-spd: 0.3s;
